
/* Header */
/* .head {
    grid-column: 2;
    grid-row: 1;
    background-color: #0ea8b3;
    color: #fff; 
    padding: 20px;
  } */
  
  /* Slider */
  /* .slide {
    grid-column: 1;
    grid-row: span 2; */
    /* background-color: #fff; White background color */
    /* padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  /* } */ 
  
  /* Content */
  /* .cont {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
  } */
  